html,body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.d-none{
    display: none !important;
}

/*-------------------------------*/

#main{
    display: inline-block;
}

.main_font{
    height: 40px;
    background-color: rgb(226, 221, 221);
}

.font{
    color:gray;
    font-size: 10px;
    line-height: 40px;
    margin-left: 10px;
}

.follower-list{
    
}

.follower-img{
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 10px;
}  

.follwer-button{
    position: absolute;
    right: 0;
    border:teal solid 1px;
    background-color: white;
    color:teal;
    margin-right: 10px;
    margin-top: 25px;
}
