html {
    height: 100%;
    margin: 0;
}

body {
    margin: 0;
    height: 100%;
    background: /*#E6FFE6;*//*#d7fdf7;*/ #ebf6ff;
    font-family: Dotum,'돋움',Helvetica,sans-serif !important;
}

a{
    text-decoration: initial;
    padding: 50px;
}

#header {  /*로고이미지가 있는 header에 공간 넣기와 가운데 정렬*/
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

#header > a{
    font-size: 20px;
    font-weight: bold;
    font-family: none; /*기본이 더 이쁨*/

    color: rgb(92, 148, 100);
    
    
}


#visual{  /*로고아래 줄 만들기*/
    border-top: 3px solid #8cba34;   
}


#wrapper { /*컨텐츠를 감싸주는*/
    position: relative;
    height: 100%;

}

#content { /*컨텐츠 공간*/
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    width: 460px;
    /* height: 100%; */
}

  /* absolute->절대좌표 그 박스 안ㅇ에서 위치를 기준으로 변경 */
    /* fixed 완전 벗어난 최상위 페이지를 기준으로 변경 */
    /* sticky 스크롤해도 그 위치에 고정된다. */
/* relative 원래 있어야 할 자리에서 왼쪼에서20, 위에서20으로 옮겨간다.*/

@media screen and (max-width: 500px) {
    #content {
        position: absolute;
        left: 50%;
        transform: translate(-50%);
        width: 100%;
    }

}




/* 입력폼 */

input:focus {  /*텍스트가 선택되면 주변에 생기는 테두리를 없애줌*/
    outline: none;
}


h3 { /*글자 제목? 주변을 띄워주기위함*/
    margin: 19px 0 8px;
    font-size: 14px;
    font-weight: 700;  /*폰트 굵기*/
}


.box {
    display: block;
    width: 100%;
    height: 51px;
    border: solid 1px #dadada;
    padding: 10px 14px 10px 14px;
    box-sizing: border-box;
    background: #fff;
    position: relative;
    border-radius: 8px;
}

.int {
    display: block;
    position: relative;
    width: 100%;
    height: 29px;
    border: none;
    background: #fff;
    font-size: 15px;
}

input {
    font-family: Dotum,'돋움',Helvetica,sans-serif;    
}

.box.int_id {  /*텍스트박스에서 마우스가 활성화 되는 공간 설정*/
    padding-right: 110px;
}

.box.int_pass {
    padding-right: 40px;
}

.box.int_pass_check {
    padding-right: 40px;
}

#bir_wrap { /*생년월일을 3가지 텍스트로 만들어서 하나로 묶어주기 위한 아이디*/
    display: table;
    width: 100%;
}

#bir_yy {
    display: table-cell;  /*table표처럼 tr,td 속성으로 바꿔주는 역할*/
    width: 147px;
    
}

#bir_mm {
    display: table-cell;
    width: 147px;
    vertical-align: middle; /*table로 엮은 속성을 수직으로 정렬하기 위함*/
}

#bir_dd {
    display: table-cell;
    width: 147px;
}

#bir_mm, #bir_dd {
    padding-left: 10px; /*년 월 일 간격*/
}

select {
    width: 100%;  
    height: 29px;
    font-size: 15px;
    border: none;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
}

/* 버튼 */

.btn_area {
    margin: 30px 0 91px;
    
}

#btnJoin:hover{
    background-color: rgb(104, 151, 65);
}

#btnJoin {
    width: 100%;
    padding: 21px 0 17px;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: rgb(146, 211, 93);
    font-size: 20px;
    font-weight: 400;
    font-family: Dotum,'돋움',Helvetica,sans-serif;
    border-radius: 8px;
    
}