<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../../css/index_ctg.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="root">
        <header id="header">
            <section>
                <h1 class="d-none">메인</h1>
                <section id="main-top">
                    <h1>관리자 카테고리 | Bookcaine</h1>
                </section>
            </section>
        </header>
        <main id="main">
            <section class="check">
                <h1 class="d-none">관리 체크 선택</h1>
                <div class="one">
                    <input type="checkbox">
                    <p>회원 관리</p>
                </div>
                <div class="two">
                    <input type="checkbox">
                    <a href="../list/main.html"><p>도서 관리</p></a>
                </div>
                <div class="three">
                    <input type="checkbox">
                    <p>도서 추천 <br>관리</p>
                </div>
                <div class="four">
                    <input type="checkbox">
                    <p>랭킹, 트렌드 관리</p>
                </div>
                <div class="five">
                    <input type="checkbox">
                    <p>오픈소스 <br>관리</p>
                </div>
                <div class="six">
                    <input type="checkbox">
                    <p>게시판 관리</p>
                </div>
                <div class="seven">
                    <input type="checkbox">
                    <p>통계</p>
                </div>
            </section>
            <section class="button-all">
                <input class="button" type="button" value="대분류 추가">
                <input class="button" type="button" value="대분류 수정">
                <input class="button" type="button" value="대분류 삭제">
            </section>
        </main>
    </div>
</body>
</html>