html,body{
    height: 100%;
}

html,body,h1,ul,ol{
    margin:0;
    padding:0;
    font-family:"나눔고딕", Georgia, 'Times New Roman', Times, serif;
}

/* a{
    color:initial;
    text-decoration: initial;
} */

ul,ol{
    list-style: none;
}
/* --- common(base) style ----------------------------------------- */
:root{
    --color-basic:#979797;
    --color-strong:#ff6a00;
    --bg-color-basic:#fff;
    --bg-color-light:#e9e9e9;
    --bg-color-main:#313131;
    --bd-color-basic:#e9e9e9;
    /* --color-dark: */
}
/*----------------------------------*/
.main{
    margin: 30px;

}
.title{
    margin-bottom: 30px;


}
.mini-list{
    color : var(--color-basic);
    margin-bottom: 30px;
    
   
}
.mini-list :first-child{
  font-size: 12px;
  
}
.mini-list-title{
    color: var(--bg-color-main);
    font-weight: bold;
    
}

.spacing{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}