.d-none{
    display: none !important;
    }

/*------------------------------*/

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    
}  

ul{
    list-style: none;
    padding:0;
}

/*-------------------------------*/

#header{
    background-color: #ccee8ed2;
    display:flex;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

#main-top h1{
    margin-top: 0;
    padding-top: 18.72px;
    padding-left: 12px;
    display: inline-block;
}

#aside {
    text-align: right;
} 

.zero, .one, .two, .three, .four, .fourfour, .five, .six{
    display: flex;
}

.w-1{
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 13px;
}

.m-1{
    margin-left: 60px;
    margin-top: 3px;
}

.m{
    margin-left: 50px;
    margin-top: 3px;
}

.text{
    width: 200px;
    height: 100px;
}

.check{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}
/*------아래 테이블은 삭제-------*/


.table{

    width: 100%; 
    border-collapse: collapse;
    table-layout: fixed; 
    /* text-align: left; */
    display: inline-block;
    text-align: center;
}


.w-1{
    width: 80px;
    text-align: left;
}

.category{
    display: inline-block;
    text-align: center;
}

.tbody{
    text-align: left;
    
} 