.d-none{
    display: none !important;
    }

.truncate{
    white-space: nowrap !important;
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    }

/*------------------------------*/

html, body, p{
    height: 100%;
    margin: 0;
    padding: 0;
}  

 ul{
    list-style: none;
    padding:0;
 }

 .text-strong{
    font-weight: bold;
    color:#ccee8ed2;
}

.mt-3{
    margin-top:10px;
}

.page-status{
    display: flex;
    justify-content: flex-end;
} 

.pager{
    display: flex;
    justify-content: center;
}

.pager>ul{
    display: flex;
    height: 15px;
    margin: 0 4px;
}

.pager li{
    width: 15px;
    /* border: 1px solid gray; */
    flex-basis: 15px;
    line-break: 15px;
    text-align: center;
}

/*-------------------------------*/
#header{
    background-color: #ccee8ed2;
    display:flex;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;
}

#main-top h1{
    margin-top: 0;
    padding-top: 18.72px;
    padding-left: 12px;
    display: inline-block;
}

#aside {
    text-align: right;
} 

#main h1{
    font-size: 15px;
    font-weight: normal;
}

.book_total_content h1{
    font-size: 12px;
    font-weight: normal;
}

.book_total_content{
    font-size: 10px;
}


.book_total_content li{
    position: relative;
    margin-bottom: 3px;
}

.book_total_content li>img{
    margin-left: 0;
    position: absolute;
    grid-area: img;
    width: 60px;
    height: 70px;
} 

.book_total_content li{
    display: grid;
    height: 75px;
    grid-template-columns:40px 90px 1fr;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    "check img title"
    ". img info"
    ". img customer"
    ". img meetup";
    border-bottom:1px solid gray;
    padding: 5px;
    align-items: center;
    box-sizing: border-box;
}

.book_total_content li:first-child{
    border-top: 1px solid gray;
}

.book_total_content li>.title{
    grid-area: title;
}

.book_total_content li> .info{
    grid-area: info;
}

.book_total_content li> .customer{
    grid-area: customer;
}

.book_total_content li> .meetup{
    grid-area: meetup;
}

.check_button{
    margin-top: 10px;
    display: flex;
    justify-content: center;

}






/*------------이하 테이블은 삭제함-------------------*/
/* .table{
    border-top: 1px solid gray;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed; 
    text-align: center;
    margin-top: 10px;
}

.table tr{
    height: 30px;
    line-height: 30px;
}

.table thead tr{
    background: #f5f5f5;
}

.table thead td:first-child{
    background: none;
}

.table td{
    /* text-align: center; 
    border-bottom: 1px solid #e9e9e9;
    /* border: 1px solid blue;
    padding: 0;
}

.w1{
    width:40px;
    text-align: center;
}

.table td.w-1{
    width:40px;
}

.table td.w-2{
    width:100px;
}

td.w-21{
    width: 137px;
    height: 130px;
    background: url("../images/book1.png") no-repeat center;
}

td.w-22{
    width: 137px;
    height: 130px;
    background: url("../images/book2.png") no-repeat center;
}

td.w-23{
    width: 137px;
    height: 130px;
    background: url("../images/book3.png") no-repeat center;
}

.check{
    margin-top: 40px;
    display: flex;
    justify-content: center;
} 

