.d-none{
    display: none !important;
    }

/*------------------------------*/

 html, body{

    height: 100%;
    margin: 0;
}  

ul{
    list-style: none;
    padding:0;
    margin: 0;
}

/* #root{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 100px 100px 100px;
    grid-template-areas:
    "header"
    "visual"
    "body"
    "footer";
    } */

/*------------------------------*/

#header{
    background-color: #ccee8ed2;
    display:flex;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
    align-items: center;

}

#main-top h1{
    margin-top: 0;
    padding-top: 18.72px;
    padding-left: 12px;
    /* display: inline-block; */
}

/*------------------------*/

/* #main{
    display: inline-block;
}
#header{
    background-color: #b1d6c1;
}
#header>h1{
    font-family: "맑은 고딕";
    font-size: 20px;
    text-align: center;
    color: #2e8b57;
} */
.page-explain>ul{
    margin-top: 10px;
}
.page-explain>ul>li{
    display: flex;
    justify-content: center; 
    font-weight: bold;
}

#id-form{
    margin-top: 200px;
    display: flex;
    justify-content: center; 
    
}

.longin-form{
    margin-top: 100px;
    margin-left: 65px; /*이거 해결해야함*/
    align-items: center;
    

}


.bottom-text{
    font-size: 10px;
    text-align: center;
    margin-top: 30px;
}

