html,body{
    height: 100%;
    margin:0;
}

.d-none{
    display: none !important;
}

.code{
    display: inline-block;
    text-indent: -999px;
    overflow: hidden;
}

.button{
    width:100px;
    background-color: #8cba34;
    border: none;
    color:#fff;
    padding: 8px 0;
    text-align: center;
    font-size: 13px;
    margin: 4px;
    border-radius: 4px;
}
    .button:hover{
        background-color: #347961;
        transition: 0.25s;
    }
/*-------------------------------------------------------------*/
#find-password-form{
    display: flex;
    flex-direction: column;
    
}
    .find-password-form form{
        display: inline-block;
        
    }

    .find-password-form fieldset{
        padding: 0;
        padding-inline-start: 7px;
        height: 40px;
        width: 230px;
    }
        .find-password-form fieldset label{
            font-size: 14px;
            font-weight: bold;
            flex-basis: 55px;
            line-height: 45px;
            text-align: center;
        }
        .find-password-form fieldset input[type=text]
        {
            width: 120px;
            flex-grow: 1;
            border: 0;
            padding-left: 10px;
            font-size: 18px;
            font-weight: bold;
        }

.submit-button,
.re-getcode-button
{
    display: inline-block;
}

.re-getcode-button{
    margin-top: 15px;  
    margin-left: 8px; 
}
    .getcode-button{
        font-size: 11px;
    }

.ex{
    text-align: center;
    margin-top: 40px;
    font-family: "맑은 고딕";
    font-size: 14px;
    font-weight: bold;
    color: #757575;
}
.ex1{
    text-align: center;
    margin-top: 10px;
    font-family: "맑은 고딕";
    font-size: 11px;
    font-weight: bold;
    color: #757575;
    margin-left: 75px;
}
.code-box{
    display: flex;
    justify-content: flex-end;
    margin-top: 8px;
}
    .code{
        height: 50px;
        width: 150px;
        background: url("../images/code.PNG") no-repeat center;
    }

/* --------------------------------------------------------------- */

#root{
    height: 100%; 
}

#main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

#header{  
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

body{
    background-color: #ebf6ff;
}

#header > a{
    font-size: 20px;
    font-weight: bold;
    font-family: none;
    text-decoration: initial;
    padding: 40px 40px 20px 40px;

    color: rgb(92, 148, 100);
}

#header-line{
    width: 100%;
    border-top: 2px solid #8cba34;   
}