<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../../../css/bookClub-club.css">
</head>
<body>
    <section class="main">
        <h1 class="title">모집 중인 북클럽📚</h1>
        <div class="spacing">
            <nav>
                <div><a href="bookClub-calendar.html">
                    <img class="img" src="../../../images/book-club-icon.png"></a>
                </div>

                <div>
                    <ul  class="mini-list">
                        <li>#언텍트#여행#에세이</li>
                        <li class="mini-list-title"> 책으로 떠나는 여행🛫</li>
                        <li>시작: 05.23(일) | 기간:7주</li>
                        <li>모집중</li>
                    </ul>
                
                </div>
            </nav>

            <nav>
                <div>
                    <img class="img" src="../../../images/book-club-icon.png">
                </div>

                <div>
                    <ul  class="mini-list">
                        <li>#언텍트#여행#에세이</li>
                        <li class="mini-list-title"> 책으로 떠나는 여행</li>
                        <li>시작: 05.23(일) | 기간:7주</li>
                        <li>모집중</li>
                    </ul>
                
                </div>
            </nav>

            <nav>
                <div>
                    <img class="img" src="../../../images/book-club-icon.png">
                </div>

                <div>
                    <ul  class="mini-list">
                        <li>#언텍트#여행#에세이</li>
                        <li class="mini-list-title"> 책으로 떠나는 여행</li>
                        <li>시작: 05.23(일) | 기간:7주</li>
                        <li>모집중</li>
                    </ul>
                
                </div>
            </nav>

        </div>
    </section>
</body>
</html>