<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../css/mng_login.css" type="text/css" rel="stylesheet">
</head>
<body>
    <div id="root">
        <header id="header">
            <section>
                <h1 class="d-none">메인</h1>
                <section id="main-top">
                    <h1>관리자 로그인 | Bookcaine</h1>
                </section>
        </header>

        <!-- <header id="header">
            <h1>로그인</h1>
        </header>

        <main id="main">
            <section class="page-explain">
                <h1 class="d-none">관리자로그인</h1>
                <ul>
                    <li>Bookcaine</li>
                    <li>모바일 관리자</li>
                </ul>
            </section> -->
                
            <section id="id-form">
                <h1 class="d-none">관리자로그인</h1>
                <form action="../../Admin/index/statistics.html">
                    <input class="a1" type="text" value="id">
                    <br>
                    <input class="a2" type="text" value="access key">
                    <br>
                    <input class="longin-form" type="submit" value="login">
                </form>
            </section>
            <section>
                <h1 class="d-none">추가안내</h1>
                <div class="bottom-text">로그인을 하지 못하실 경우 02-123-4567로 연락주세요.</div>
            </section>
        </main>
    </div>
</body>
</html>